# Секретные ключи и токены (САМОЕ ВАЖНОЕ!)
.env

# База данных SQLite (чтобы не заливать чужие задачи на GitHub)
db.sqlite3
*.sqlite3
*.db

# Виртуальное окружение Python (оно весит много и у каждого свое)
venv/
env/
.venv/

# Кэш Python и скомпилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Настройки редакторов кода (VS Code, PyCharm и т.д.)
.vscode/
.idea/
*.swp